@import url('https://fonts.googleapis.com/css?family=Asap|Lato');

body {
    background-color: #d9654f;
    justify-content: center;
}

.firstContainer {
    margin: auto;
    width: 60vw;
    display: grid;
    grid-template-rows: 5vw, 10vw 10vw;
    grid-template-columns:1fr 1fr;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
    padding: 4vh;
    font-family: "Asap", sans-serif;
    column-gap: 0.5vw;
}

.title {
    grid-row: 1;
    grid-column: 1/ span 2;
    font-family: 'Asap', sans-serif
}
h1 {
   font-size:3vw;
   margin-bottom: 2vh;
   margin-top: 1vh;
   padding: 0;
    color:#d9654f;
    font-weight: 700;
}
h3{
    font-size: 1vw;
}
h4 {
    font-family: 'Lato', sans-serif;
}

.gridContainer {
    grid-row: 2 /span 3;
    grid-column: 1/span 1;
}

.secondgridContainer {
    grid-row: 2;
    grid-column: 2/span 2;
}
.thirdgridContainer {
    grid-row: 3;
    grid-column: 2/span 2;
    margin-top: 5%;
}
.fourthgridContainer {
    grid-row: 3;
    grid-column: 1/span 1;
    
}
.actionButtons {
    grid-row: 4;
    grid-column: 2/span 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2%;
    
}
.actionButtons [type="submit"]{
    border: none;
    outline: none;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 2%;
    font-weight: 700;
    font-family: 'Asap', sans-serif;
    font-size: calc(12px + 0.3vw);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 2%;
    
}

.actionButtons [type="submit"]:hover:active{
    background-color: #f5c67f;
    color: white;
}

.actionButtons [name="cancelar"]{
    background-color:#d9654f;
    color: white;
}

.actionButtons [name="publicar"]{
    background-color:#d9654f;
    color: white;
}

.direccioncontainer2 {
    font-family:'Lato', sans-serif;
    color: #d9654f;
    font-weight: 700;
    font-size: calc(10px + 0.3vw);
    margin-top: 1%;
    margin-bottom: 5%;
}

.direccioncontainer2 [type="text"]{
    width: 6.5vw;
    margin-right:2%
}
.addressContainer [type="text"] {
    width: 10vw;
    margin-right: 2%
}

.gridContainer [name="otros"] {
    width: 25vw
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
    width: 26vw;
    height: 40vh;
}
.imageUpload label {
    display: inline-block;
    width: 10vh;
    height: 10vh;
    margin-bottom: 0;
    border-radius: 45px;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}
label:hover{
    background: #f1f1f1;
    border-color: #d6d6d6;
}

label:before {
    color: #757575;
    text-align: center;
    margin: auto;
}

.imageUpload input {
    display: none;
}
span {
    font-family: 'Asap', sans-serif;
    font-weight: 700;
    font-size:1vw;
    margin-right: 5%;
}
#text {
    display:flex;
    flex-direction:column;
    margin-top: 20px;
    
    
}
#legal {
    margin-top: none;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #d9654f;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    width: 28vw;
    padding: 3%;
    font-family: 'Lato', sans-serif;
    resize: none;
}
#ingresartexto {
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #d9654f;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    padding: 3%;
    font-family: 'Lato', sans-serif;
    resize: none;
    width: 28vw;
}

.legalinfo [type="number"] {
    margin: 2px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d9654f;
    width: 6vw;
    
}
.legalinfo [type="number"]:active {
    border: none;
    
}
textarea:focus, input:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}


#legalinfotable {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: calc(10px + 0.3vw);
    justify-content: center;
    font-weight: 700;
    align-content:center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.tipo {
    border: none;
    outline: none;
    background-color: #f1f1f1;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Asap', sans-serif;
    font-size:0.9vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.selected,
.tipo:hover {
    background-color: #f5c67f;
    color: white;
}

.btn {
    border: none;
    outline: none;
    background-color: #f1f1f1;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Asap', sans-serif;
    font-size:0.9vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.active,
.btn:hover {
    background-color: #d9654f;
    color: white;
}

#casa {
    width: 10vh
}

.userButtons {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 28vw;
    height: 4vh;
}

.habContainer {
    margin-top: 8%;
    margin-bottom: 3%;
}
.habcontainer [name="hablabel"] {
    font-size:  calc(10px + 0.2vw);
    
}


/* Table column sizing
================================== */


.wrapper {
  width: 28vw;
  margin-bottom:1em;
}

.is-striped {
  background-color: rgba(233, 200, 147, 0.2);
}

/* Table column sizing
================================== */
.date-cell {
  width: 35%;
}

.topic-cell {
  width: 1vw;

}
.topic-cell  {
  width: 3vw;
  display: flex;
  justify-content: center;
}
.access-link-cell {
  width: 3vw;
  display: flex;
  justify-content: center;

}


.replay-link-cell {
  width: 10vw;
}


/* Apply styles
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 5%;
}
.Rtable .Rtable-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Rtable .Rtable-row .Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.5vw;
  overflow: hidden;
  list-style: none;
  margin: 0;
}
.Rtable .Rtable-row .Rtable-cell.column-heading {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: black;

}
.Rtable .Rtable-row .Rtable-cell .Rtable-cell--heading {
  display: none;
}

.Rtable .Rtable-row .Rtable-cell .Rtable-cell--content .webinar-date {
font-family: 'Lato', sans-serif;
font-weight:400;
font-size: calc(10px + 0.2vw);
}

/* Responsive
==================================== */
 [type=number] {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d9654f;
    width: 8vw;
    background-color: transparent;
    
}
[type=number]:active {
    border: none;
    border-bottom: 1px solid #d9654f;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}


[type=text]:active{
    border: none;
    border-bottom: 1px solid #d9654f;
}

 [type=text]{
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d9654f;
    width: 15vw;
    background-color:transparent;
     
    
}
textarea:focus, input:focus{
    outline: none;
}

/* Responsive
==================================== */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display: none;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: calc(10px + 0.3vw);
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #d9654f;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 0;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.expensasbuttons{
    border: none;
    outline: none;
    margin-top:2%;
    padding: 1%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
}
    
.expensasbuttons [name="monto"]{
    border: none;
    outline: none;
    font-weight:700;
    font-family: 'Lato', sans-serif;
    font-size:0.8vw;
    padding: 1%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.expselected,
.expBtn:hover {
    background-color: #f5c67f;
    color:white;
}
