<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base}">
<head>
  <meta charset="utf-8" />
  <title>The Person</title>
  <meta name="description" content="The HTML5 Herald" />
  <meta name="author" content="SitePoint" />
  <link rel="stylesheet" href="css/styles.css?v=1.0" />
  <style type="text/css">
 	.demo-card-wide.mdl-card {
  		width: 512px;
	}
	.demo-card-wide > .mdl-card__title {
	  color: #fff;
	  height: 176px;
	  background: url('../assets/demos/welcome_card.jpg') center / cover;
	}
	.demo-card-wide > .mdl-card__menu {
	  color: #fff;
	}
  	.center-text {
  		text-align: center;
  	}
  	.demo-list-icon {
  		width: 300px;
	}
  </style>
</head>

<body>
  <div layout:fragment="content">
  		<div class="mdl-grid">
		  <div class="mdl-cell mdl-cell--4-col"></div>
		  <div class="mdl-cell mdl-cell--4-col center-text">
			  <ul class="demo-list-item mdl-list">
					  <li class="mdl-list__item">
					    <h2 th:text="${person.firstName}" class="mdl-list__item-primary-content">
					    </h2>
					  </li>
					  <li class="mdl-list__item">
					    <h3 th:text="${person.lastName}" class="mdl-list__item-primary-content">
					    </h3>
					  </li>
					  <li class="mdl-list__item">
					    <span th:text="${person.phone}" class="mdl-list__item-primary-content">
					    </span>
					  </li>
					  <li class="mdl-list__item">
					    <span th:text="${person.email}" class="mdl-list__item-primary-content">
					    </span>
					  </li>
				</ul>	
		  </div>
		  <div class="mdl-cell mdl-cell--4-col"></div>
		</div>
  </div>
  <script src="js/scripts.js"></script>
</body>
</html>