<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>The Person</title>
	<meta name="description" content="The HTML5 Herald" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Nicolas" />
	<link rel="stylesheet" href="css/styles.css?v=1.0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" />
	<style type="text/css">
		body {
			background-color: yellow;
		}
		h2 {
			font-size: 4em;
			color:olive;
			text-align: center;
		}
	</style>
</head>

<body>
	<h2 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></h2>
	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>